@banner-height: 365px;

* {
	box-sizing: border-box;
}

.content-main {
	padding: 2em 0;
}

.not-front {
	.content-main {
		.container;
		max-width: 970px;
	}
}

@media screen and (min-width: 1200px) {
	.not-front {
		.content-main {
			max-width: 970px;
		}
	}
}

.main-container {
	position: relative;
	width: auto;
	padding: 0;
	overflow: hidden;
}

.page-header {
	border: none;
}

.dr-readmore-link {
	display: block;
	float: right;
	padding: 4px 12px;
	font-size: 160%;
	background: @brand-blue;
	color: @brand-white;
	text-align: center;
	margin: 10px 0 0 0;
	text-transform: uppercase;

	.oswald();

	&:hover {
		text-decoration: none;
		color: @brand-white;
		background: @brand-dark-blue;
	}
}

.front .main-container h1 {
	.hidden;
}

.block.container {
	padding: 25px 0 25px 0;
}

.col-md-4,
.col-md-3,
.col-md-6 {
	.col-md-12 {
		padding: 0;
		width: auto;
	}
}

//-- banner
#block-views-banner-block {
	overflow: hidden;
	width: 100%;
	height: @banner-height;
	background: @brand-bckg-blue;

	& > .view {
		width: 1020px;
		margin: 0 auto;
	}
}

.region-content > .block {
	padding: 15px 0;
	
}

.block, 
.view {
	h3,
	h3 a {
		color: @brand-dark-blue;
		font-size: 20px;
		min-height: 53px;
	}
	
	.block-inner {
		.container;
	}

	
	.block-title-wrap {
		.row;
	}

	.block-title {
		margin-top: 0;
	}
}

@media screen and (min-width: 1200px) {
	.block .block-inner {
		max-width: 970px;
	}
}

.view-why-choose-us {
	.view-content {
		overflow: hidden;
	}

	.views-row {
		overflow: hidden;
	}

	.views-field-counter {
		float: left;
		width: 17%;
		max-width: 60px;
		margin: 0 3% 0 0;
		padding: 8px 14px;
		text-align: center;
		font-size: 200%;
		background: @brand-bckg-blue;
		border-radius: 50%;
		color: @brand-white;
		font-weight: bold;

		.oswald();
	}

	.views-field-body {
		float: right;
		width: 80%;
	}
}



//--- block full width
#block-views-news-block,
#block-views-reference-block {
	padding: 25px 0;
	background: data-uri('../images/stripes-backg.jpg');

	.view {
		.row;
	}

}


//--- News
#block-views-news-block {

	.views-field-field-news-image {
		margin: 10px 0;
		.dynamic-image();
	}

	.col {
		vertical-align: top;
	}
}


.blockgroup {
	.block {
		.block-inner,
		.block-title-wrap {
			padding: 0;
			width: auto;
			margin: 0;
		}
	}
}

.region-blockgroup-hp-bottom {
	padding: 30px 0;
	.container;

	.region-inner {
		.row;
	}

	& > .block,
	.block-inner {
		display: block;
		width: auto;
	}

}

.view-partners-hp {
	overflow: hidden;

	& > .view-content {
		.row;
	}

	img {
		width: 100%;
		max-width: 160px;
		height: auto;
	}

	.views-field {
		.field-content {
			text-align: center;
		}
	}
}


.footer {
	margin: 0;
	padding: 25px 0 0 0;
	width: auto;
	border: none;
	background: data-uri('../images/stripes-blue.jpg');
	
	.blockgroup {
		padding: 0 0 25px 0;
		.container;

		.region-inner {
			.row;
		}
	}

	ul {
		padding: 0 0 0 1.5em;
	}

	li {
		list-style-type: square;

		color: inherit;

		a {
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.footer-bottom {
		width: auto;
		padding: 15px 0 50px 0;
		background: @brand-blue;
		color: @brand-white;

		a {
			color: inherit;
		}
		
		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style-type: none;
			display: inline-block;
			padding: 0 4em 0 0;
		}
	}
}




@media screen and (min-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

.node-type-product .field-name-body .field-label {
	text-align: right;
}

.node-type-product .field-name-field-photo {
	float: left;
	padding: 0 25px 25px 0;
}

.node-type-product .field-name-field-photogallery {
	clear: both;
}

.node-type-product  .field-name-field-photogallery .field-item {
	display: inline-block;
	width: 16.6%;
	text-align: center;
}

.node-type-product .field-label {
	font-size: 30px;
	color: #269dd6;
	padding-bottom: 25px;
}

.node-type-product .field-name-body  strong{
	color: #269dd6;
}

.node-type-product .field-name-field-links-and-other  ul {
	overflow: hidden;
	padding: 0;
	margin: 0;
}


.node-type-product .field-name-field-links-and-other  li strong {
	color: #fff;
}


.node-type-product .field-name-field-links-and-other  li {
	background: #269dd6;
	float: left;
	color: #fff;
	padding: 10px;
	width: 16%;
	margin: 0 0.33%;
	list-style: none;
	text-align: center;
}


.node-type-product .field-name-field-links-and-other  li a {
	color: #fff;
}


.node-type-product .field-label {
	color: #269dd6;
	margin-top: 10px;
}

.node-type-product .comment h4 a {
	color: black;
	font-size: 80%;
}

.node-type-product .field-item h3 {
	color: #269dd6;
}

.node-type-product .comment-author {
	color: #269dd6;
	font-size: 140%;
}


iframe {
	border: solid 3px #269dd6;
}

strong, b {
	color: #269dd6;
}


.content-main strong, b {
	color: #269dd6;
}

.content-main a {
	color: #000;
	text-decoration: underline;
}


.content-main a:hover {

	color: inherit;
	text-decoration: none;
}

.block h3 {
	color: #269dd6;
}

h4 {
	color: #000;
}


