// Insert your styling here.

.header-top {
	max-width: 30%;
	.pull-right;
	display: none;

	& > * {
		overflow: hidden;
	}
}

.navbar {
	border: none;
	background: none;
	margin-bottom: 10px;
}

.not-front {
	.navbar {
		padding-bottom: 10px;
		border-bottom: 30px solid @brand-blue;
	}
}

.navbar-collapse {
	margin: 10px 0 0 0;
	.pull-right;

	.navbar-nav > li > a {
		color: @brand-blue;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 150%;

		.oswald();
	}

	.navbar-nav > .active > a {
		background: @brand-blue;
		color: @brand-white;
	}

	.secondary {
		clear: both;
		float: none;
		
		.text-right;

		li.leaf {
			float: none;
			display: inline-block;

			a {
				color: @font-black;
				font-weight: normal;
				font-size: 110%;
				text-decoration: underline;
				text-transform: lowercase;
				.arial();

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

