.oswald() {
	font-family: 'Oswald', sans-serif;
}

.arial() {
	font-family: Arial, sans-serif;
}

.dynamic-image() {
	a {
		display: block;

		img {
			width: 100%;
			height: auto !important;
		}
	}
}